<template>
  <div>
    <div class="flex justify-between">
      <h1 class="mb-4 font-bold text-3xl">Test de Grain Chain</h1>
      <button @click.prevent="onSubmit" class="bg-primary h-9 flex hover:bg-primaryHover text-white font-bold py-2 px-8 rounded-full">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2 pb-1" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
        </svg>
        <span>
          Cargar Archivo
        </span>
      </button>
    </div>
    <div class="justify-between flex">
      <div class="mb-3 items-center text-black ">
        <span class="text-lg font-bold">Instrucciones:</span>
        <br>
        <ul>
          <li class="text-lg"> - Selecciona un archivo de texto.</li>
          <div class="mb-6 flex items-center justify-between mt-4">
            <div>
              <div class="mb-4 relative border-dotted px-4 py-10 rounded-lg border-dashed border-2 border-black bg-gray-100 flex justify-center items-center">
                  <div class="absolute" style="cursor:pointer!important">
                      <div class="flex flex-col items-center">
                        <i class="fa fa-folder-open fa-2x text-black"></i>
                        <span class="block text-lg text-black font-normal"><b style="cursor:pointer!important">Click aqui</b> o arrastra un archivo</span> 
                        <div class="mt-2 text-lg truncate text-center" style="width: 250px!important">
                          <span  class="font-bold">Archivo Seleccionado: </span>
                          <span v-if="!this.file">Ninguno...</span>
                          <span v-else>{{file.name}}</span>
                        </div>
                      </div>
                  </div>
                  <input type="file" style="cursor:pointer!important" @input="file = $event.target.files[0]" class="h-full w-full opacity-0" name="file" accept=".txt">
              </div>
              <span class="text-danger font-bold text-lg" v-for="error in errors" :key="error">* {{error[0]}}<br></span>
            </div>
          </div>
          <li class="text-lg"> Nota: El archivo seleccionado debera contener esta estructura (<a class="font-bold" href="/storage/matriz.txt">Ejemplo</a>).</li>
          <li class="text-lg my-6"> - Una vez cargado el archivo de texto, presiona el boton Cargar Archivo.</li>
        </ul>
      </div>
      <div class="text-center">
        <div 
          class="flex items-center"
          v-for="(row, index) in matriz" 
          :key="index"
        >
          <div 
            class="columnas"
            v-for="(col, i) in row" :key="i" 
          >
            <div 
              class="hall"
              v-if="col.hall"
              :class="{'illuminate': col.illuminate}"
            >
              <img
                v-if="col.focus"
                :src="'img/foco.png'"
              />
            </div>
            <div 
              class="wall" 
              v-if="col.wall">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import Layout from '@/Shared/Layout'

  export default {
    metaInfo: { title: 'Organizations' },
    components: {},
    layout: Layout,
    data: () =>({
      errors: [],  
      matriz: [],
      file: null,
    }),
    methods: {
      onSubmit(){
        var formData = new FormData();

        formData.append('file',this.file);
        
        this.axios.post('/charge-file', formData).then(response=>{
          if(response.data.success){
            this.matriz = response.data.matriz;
          }else{
            this.errors = response.data.errors;
          }
        });
      }
    }
  }
</script>
<style scoped>
  .text-center{
    margin: auto;
    align-content: center;

  }
  .hall img{
    width:100%;
    height: 100%;
  }
  .columnas{
    margin: 0; 
    border: 1px solid #000;
  }
  .hall{
    background: white;
    width: 75px;
    height: 55px;
  }
  .wall{
    width: 75px;
    height: 55px;
    background: #ccc;
  }
  .illuminate{
    background: #fdffb6 !important;
  }
</style>