<template>
  <div>
    <portal-target name="dropdown" slim />
    <div class="md:flex md:flex-col">
      <div class="md:h-screen md:flex md:flex-col">
        <div class="md:flex md:flex-shrink-0">
          <div class="bg-primary border-b md:flex-shrink-0 md:w-56 flex items-center justify-between md:justify-center">
            <inertia-link href="/">
              <logo class="fill-white" width="120" :height="'70px'"/>
            </inertia-link>
            <dropdown class="md:hidden" placement="bottom-end">
              <svg class="fill-white w-6 h-6" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" /></svg>
              <div slot="dropdown" class="mt-2 px-8 py-4 blue shadow-lg rounded">
                <main-menu />
              </div>
            </dropdown>
          </div>
          <div class="bg-white border-b w-full p-4 md:py-0 md:px-12 text-sm md:text-md flex justify-between items-center">
            <h1 class="mt-1 mr-4 font-bold text-2xl">
              {{ $page.props.auth.user.account.name }}
            </h1>
            <dropdown class="mt-1" placement="bottom-end">
              <div class="flex items-center cursor-pointer select-none group">
                <div class="text-black group-hover:text-primary text-lg focus:text-primary mr-1 whitespace-nowrap">
                  <span>{{ $page.props.auth.user.first_name }}</span>
                  <span class="hidden md:inline">{{ $page.props.auth.user.last_name }}</span>
                </div>
                <icon class="w-5 h-5 group-hover:fill-primary fill-black focus:fill-primary" name="cheveron-down" />
              </div>
              <div slot="dropdown" class="mt-2 w-60 shadow-xl bg-white rounded text-sm">
                <!-- <inertia-link 
                  class="block px-6 py-2 text-lg hover:bg-grain-primary hover:text-white" 
                  :href="route('users.edit', $page.props.auth.user.id)"
                >
                  Mi Perfil
                </inertia-link>
                <inertia-link 
                  class="block px-6 py-2 hover:bg-grain-primary text-lg hover:text-white" 
                  :href="route('users')"
                >
                  Usuarios
                </inertia-link> -->
                <inertia-link 
                  class="block flex px-6 py-4 hover:bg-primary text-lg hover:text-white w-full text-left" 
                  :href="route('logout')" 
                  method="delete" as="button"
                >
                <icon name="logout" class="w-4 h-4 mt-1 mr-2 text-danger" />
                <span>Logout</span>
                </inertia-link>
              </div>
            </dropdown>
          </div>
        </div>
        <div class="md:flex md:flex-grow md:overflow-hidden">
          <main-menu class="hidden md:block bg-primary flex-shrink-0 w-56 p-12 overflow-y-auto" />
          <div class="md:flex-1 px-4 py-8 md:p-12 md:overflow-y-auto" scroll-region>
            <flash-messages />
            <slot />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from '@/Shared/Icon'
import Logo from '@/Shared/Logo'
import Dropdown from '@/Shared/Dropdown'
import MainMenu from '@/Shared/MainMenu'
import FlashMessages from '@/Shared/FlashMessages'

export default {
  components: {
    Dropdown,
    FlashMessages,
    Icon,
    Logo,
    MainMenu,
  },
}
</script>
