<template>
  <div>
      <img class="mx-auto" :style="(height)? 'height:'+height: ''" contain src="img/logo.png">
  </div>
</template>

<script>
  export default{
    props: ['height'],
  }
</script>
