<template>
  <div>
    <div class="mb-4">
      <inertia-link class="flex items-center group py-3" :href="route('test')" disabled>
        <icon name="test" class="w-4 h-4 mr-2" :class="isUrl('') ? 'fill-white' : 'fill-gray-500 group-hover:fill-white'" />
        <div :class="isUrl('') ? 'text-white' : 'text-gray-500 group-hover:text-white'">Test</div>
      </inertia-link>
      <inertia-link class="flex items-center group py-3 disabled" :href="route('test')">
        <icon name="dashboard" class="w-4 h-4 mr-2" :class="isUrl('dashboard') ? 'fill-white' : 'fill-gray-500 group-hover:fill-white'" />
        <div :class="isUrl('dashboard') ? 'text-white' : 'text-gray-500 group-hover:text-white'">Dashboard</div>
      </inertia-link>
    </div>
  </div>
</template>

<script>
import Icon from '@/Shared/Icon'

export default {
  components: {
    Icon,
  },
  methods: {
    isUrl(...urls) {
      let currentUrl = this.$page.url.substr(1)
      if (urls[0] === '') {
        return currentUrl === ''
      }
      return urls.filter(url => currentUrl.startsWith(url)).length
    },
  },
}
</script>
